<li>
	{{name}}<br/><br/>
	<button class="green darken-1 change-eaten btn" data-id="{{id}}" data-newEaten="{{eaten}}">
		{{#if eaten}}EAT ME!{{else}}EAT AGAIN!{{/if}}
	</button>
	<button class="green darken-1 delete-burger btn" data-id="{{this.id}}">DELETE!</button>
	<br/><br/>
</li>
